@{
    ViewBag.Title = "Xóa Người Giao Hàng ";
}

<div class="box box-danger">
    <div class="box box-body">
        <form action="/action_page.php">
          

            <div class="form-group">
                <label>Tên Người Giao Hàng:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">	Quốc Trung</p>
            </div>

            <div class="form-group">
                <label>Số Điện Thoại:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">0234.3.822.999</p>
            </div>

         

            <button type="submit" class="btn btn-danger">
                <i class="fa fa-xmark"></i>
                Xóa dữ liệu
            </button>
            <a href="~/Admin/Shipper" class="btn btn-default">Quay lại</a>

        </form>
    </div>
</div>

