@{
    ViewBag.Title = "Danh Dách Người Giao Hàng";
}


<div class="box box-primary ">
    <div class=" box-body ">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="Searchvalue"
                       class="form-control" placeholder="Nhập Tên Người Giao Hàng Cần Tìm Kiếm..." _mstplaceholder="99723" _msthash="63">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>

                    </button>
                    <a href="~/Admin/Shipper/Create " class="btn btn-flat btn-primary ">
                        <i class="fa fa-plus"> Bổ Sung</i>

                    </a>
                </span>
            </div>
        </form>
        <!--Danh Sách Nhà Cung Cấp-->
        <p>
        <p style=" margin: 10px 0 10px 0 ">

        </p>
        Có <strong> 1,024 </strong> Người Giao Hàng. Hiện đang ở trang 1 trên tổng số 200 trang

        </p>
        <div class table=" table-responsive ">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <th>Tên Người Giao Hàng</th>
                        <th>Số Điện Thoại</th>


                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 10; i++)
                    {
                        <tr>

                            <td>Quốc Trung Đần</td>
                            <td>0234.3.822.999.</td>


                            <td>
                                <a href="~/Admin/Shipper/Edit/123 " class="btn-xs btn-info ">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Admin/Shipper/Delete/123 " class="btn btn-xs btn-danger ">
                                    <i class="fa fa-remove"></i>
                                </a>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="text-center ">
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>

            </ul>

            <ul class="breadcrumb">
                <li class="active">Home</li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Pictures</a></li>
                <li><a href="#">Hùng Đẹp Trai Mang Dép Lê </a></li>
            </ul>
        </div>
    </div>

</div>