@{
    ViewBag.Title = "Xóa Các Loại Hàng ";
}

<div class="box box-danger">
    <div class="box box-body">
        <form action="/action_page.php">


            <div class="form-group">
                <label>Tên Loại Hàng:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">	May mặc - Thời trang</p>
            </div>

            <div class="form-group">
                <label>Tên Sản Phẩm:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">Quần áo, hàng may mặc, thời trang,...</p>
            </div>



            <button type="submit" class="btn btn-danger">
                <i class="fa fa-xmark"></i>
                Xóa dữ liệu
            </button>
            <a href="~/Admin/Category" class="btn btn-default">Quay lại</a>

        </form>
    </div>
</div>

