@{
    ViewBag.Title = "Thêm nhà cung cấp";
}

<div class="box box-primary">
    <div class="box box-body">
        <form action="/action_page.php">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <input type="text" class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Tỉnh thành:</label>
                <select class="form-control">
                    <option disabled selected value> Chọn tỉnh thành </option>
                    <option>Thừa Thiên Huế</option>
                    <option>Hà Nội</option>
                    <option>Thành Phố Hồ Chí Minh</option>
                    <option>Đà Nẵng</option>
                </select>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i>
                Lưu dữ liệu
            </button>
            <a href="~/Admin/Supplier" class="btn btn-default">Quay lại</a>

        </form>
    </div>
</div>

