@{
    ViewBag.Title = "Xóa Nhà Cung Cấp";
}

<div class="box box-danger">
    <div class="box box-body">
        <form action="/action_page.php">
            <div class="form-group">
                <label>Họ tên khách hàng:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">Hồ Thị Tâm</p>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">	cô Tâm</p>
            </div>

            <div class="form-group">
                <label>Tỉnh thành:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">Thừa Thiên Huế</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 "></p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">09503277635</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static" style="border-bottom:1px dotted #888888 ">tam03021990@myshop.com</p>
            </div>

            <button type="submit" class="btn btn-danger">
                <i class="fa fa-xmark"></i>
                Xóa dữ liệu
            </button>
            <a href="~/Admin/Supplier" class="btn btn-default">Quay lại</a>

        </form>
    </div>
</div>

