<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        @*     <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
        <i class="fa fa-search"></i>
        </button>
        </span>
        </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            @*  <li class="header">MAIN NAVIGATION</li>*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Trang Chủ</span>
                    <span class="pull-right-container">


                    </span>
                </a>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Quản Lý Dữ Liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu ">
                    <li><a href="~/ADmin/Supplier"><i class="fa fa-circle-o"></i> Nhà Cung Cấp</a></li>
                    <li><a href="~/ADmin/Category"><i class="fa fa-circle-o"></i> Loại Hàng</a></li>
                    <li><a href="~/ADmin/Customer"><i class="fa fa-circle-o"></i> Khách Hàng</a></li>
                    <li><a href="~/ADmin/Shipper"><i class="fa fa-circle-o"></i> Người Giao Hàng</a></li>
                    <li><a href="~/ADmin/Employee"><i class="fa fa-circle-o"></i> Nhân Viên</a></li>
                    <li><a href="~/ADmin/Product"><i class="fa fa-circle-o"></i> Mặt Hàng</a></li>
                </ul>
            </li>
                @* <li class="treeview">
            <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="../UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
            <li><a href="../UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li><a href="../UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li><a href="../UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li><a href="../UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li><a href="../UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
            </ul>
            </li>*@
                @*  <li class="treeview">
            <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="../forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
            <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
            <li><a href="../forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
            </ul>
            </li>*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Nhà Cung Cấp </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../tables/simple.html"><i class="fa fa-circle-o"></i> Xử Lý Đơn Hàng</a></li>
                    <li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Lập Đơn Hàng</a></li>
                </ul>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
